// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 AtriMods
 * Author: Lefty <leftymods@gmail.com>
 *
 * AtriStation - Amlogic S905X3-based smart display board
 * Features: HDMI, LED ring, microphone array, speakers, WiFi/BT
 */

/dts-v1/;

#include "meson-sm1.dtsi"
#include <dt-bindings/gpio/meson-g12a-gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/sound/meson-g12a-toacodec.h>
#include <dt-bindings/sound/meson-g12a-tohdmitx.h>

/ {
	compatible = "atristation,atristation", "amlogic,sm1";
	model = "AtriStation";

	aliases {
		serial0 = &uart_AO;
		serial4 = &uart_A;
		ethernet0 = &ethmac;
		led-controller0 = &is31fl3236_3c;
		led-controller1 = &is31fl3236_3f;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	emmc_pwrseq: emmc-pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&gpio BOOT_12 GPIO_ACTIVE_LOW>;
	};

	vddcpu: regulator-vddcpu {
		compatible = "pwm-regulator";
		pwms = <&pwm_AO_cd 1 1500 0>;
		pwm-dutycycle-range = <100 0>;
		regulator-name = "VDDCPU";
		regulator-min-microvolt = <721000>;
		regulator-max-microvolt = <1022000>;
		regulator-boot-on;
		regulator-always-on;
		vin-supply = <&dc_in>;
	};

	tflash_vdd: regulator-tflash_vdd {
		compatible = "regulator-fixed";
		regulator-name = "TFLASH_VDD";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_5v>;
		gpio = <&gpio_ao GPIOAO_3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
	};

	tf_io: regulator-tf_io {
		compatible = "regulator-gpio";
		regulator-name = "TF_IO";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_5v>;
		regulator-type = "voltage";
		gpios = <&gpio_ao GPIOAO_6 GPIO_ACTIVE_HIGH>;
		states = <3300000 0>, <1800000 1>;
	};

	flash_1v8: regulator-flash_1v8 {
		compatible = "regulator-fixed";
		regulator-name = "FLASH_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_3v3>;
		regulator-boot-on;
	};

	main_12v: regulator-main_12v {
		compatible = "regulator-fixed";
		regulator-name = "MAIN_12V";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		vin-supply = <&dc_in>;
		regulator-boot-on;
	};

	vcc_5v: regulator-vcc_5v {
		compatible = "regulator-fixed";
		regulator-name = "VCC_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&main_12v>;
		regulator-boot-on;
	};

	vcc_1v8: regulator-vcc_1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VCC_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_3v3>;
		regulator-always-on;
	};

	vcc_3v3: regulator-vcc_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VCC_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&main_12v>;
		regulator-boot-on;
	};

	vddao_3v3: regulator-vddao_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VDDAO_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&main_12v>;
		regulator-boot-on;
	};

	dc_in: regulator-dc_in {
		compatible = "regulator-fixed";
		regulator-name = "DC_IN";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-boot-on;
	};

	sound {
		compatible = "amlogic,axg-sound-card";
		model = "ATRISTATION";
		audio-aux-devs = <&tdmout_b>;
		audio-routing = "TDMOUT_B IN 0", "FRDDR_A OUT 1",
				"TDMOUT_B IN 1", "FRDDR_B OUT 1",
				"TDMOUT_B IN 2", "FRDDR_C OUT 1",
				"TDM_B Playback", "TDMOUT_B OUT";

		clocks = <&clkc CLKID_MPLL2>,
			 <&clkc CLKID_MPLL0>,
			 <&clkc CLKID_MPLL1>;

		assigned-clocks = <&clkc CLKID_MPLL2>,
				  <&clkc CLKID_MPLL0>,
				  <&clkc CLKID_MPLL1>;
		assigned-clock-rates = <294912000>,
				       <270950400>,
				       <393216000>;

		dai-link-0 {
			sound-dai = <&frddr_a>;
		};

		dai-link-1 {
			sound-dai = <&frddr_b>;
		};

		dai-link-2 {
			sound-dai = <&frddr_c>;
		};

		/* 8ch hdmi interface */
		dai-link-3 {
			sound-dai = <&tdmif_b>;
			dai-format = "i2s";
			dai-tdm-slot-tx-mask-0 = <1 1>;
			dai-tdm-slot-tx-mask-1 = <1 1>;
			dai-tdm-slot-tx-mask-2 = <1 1>;
			dai-tdm-slot-tx-mask-3 = <1 1>;
			mclk-fs = <256>;

			codec {
				sound-dai = <&tohdmitx TOHDMITX_I2S_IN_B>;
			};
		};

		/* hdmi glue */
		dai-link-4 {
			sound-dai = <&tohdmitx TOHDMITX_I2S_OUT>;

			codec {
				sound-dai = <&hdmi_tx>;
			};
		};
	};

	/* HDMI connector */
	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&hdmi_tx_tmds_out>;
			};
		};
	};

	/* USB power enable */
	usb_pwr_en: regulator-usb-pwr-en {
		compatible = "regulator-fixed";
		regulator-name = "USB_PWR_EN";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_5v>;
		gpio = <&gpio GPIOH_6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	/* SDIO power sequence for WiFi */
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio GPIOX_6 GPIO_ACTIVE_LOW>;
		clocks = <&wifi32k>;
		clock-names = "ext_clock";
	};

	/* 32.768kHz clock for WiFi */
	wifi32k: wifi32k {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		clock-output-names = "wifi_32k";
		pwms = <&pwm_ef 0 30518 0>;
	};

	/* VDDAO 1.8V for SDIO/BT I/O */
	vddio_ao1v8: regulator-vddio-ao1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_AO1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vddao_3v3>;
		regulator-always-on;
	};
};

&arb {
	status = "okay";
};

&cec_AO {
	pinctrl-0 = <&cec_ao_a_h_pins>;
	pinctrl-names = "default";
	status = "disabled";
	hdmi-phandle = <&hdmi_tx>;
};

&cecb_AO {
	pinctrl-0 = <&cec_ao_b_h_pins>;
	pinctrl-names = "default";
	status = "okay";
	hdmi-phandle = <&hdmi_tx>;
};

&clk_msr {
	status = "okay";
};

&clkc_audio {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vddcpu>;
};

&cpu1 {
	cpu-supply = <&vddcpu>;
};

&cpu2 {
	cpu-supply = <&vddcpu>;
};

&cpu3 {
	cpu-supply = <&vddcpu>;
};

&ethmac {
	status = "okay";
	pinctrl-0 = <&eth_pins>, <&eth_rgmii_pins>;
	pinctrl-names = "default";
	phy-mode = "rgmii";
	phy-handle = <&external_phy>;
	amlogic,tx-delay-ns = <2>;
};

&ext_mdio {
	external_phy: ethernet-phy@0 {
		reg = <0>;
		max-speed = <1000>;
		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
		reset-gpios = <&gpio GPIOZ_15 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	};
};

&frddr_a {
	status = "okay";
};

&frddr_b {
	status = "okay";
};

&frddr_c {
	status = "okay";
};

&hdmi_tx {
	status = "okay";
	pinctrl-0 = <&hdmitx_hpd_pins>, <&hdmitx_ddc_pins>;
	pinctrl-names = "default";
	hdmi-supply = <&vcc_5v>;
};

&hdmi_tx_tmds_port {
	hdmi_tx_tmds_out: endpoint {
		remote-endpoint = <&hdmi_connector_in>;
	};
};

&ir {
	status = "okay";
	pinctrl-0 = <&remote_input_ao_pins>;
	pinctrl-names = "default";
};

&pwm_AO_ab {
	pinctrl-0 = <&pwm_ao_a_pins>;
	pinctrl-names = "default";
};

&pwm_AO_cd {
	pinctrl-0 = <&pwm_ao_d_e_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vddio_ao1v8>;
};

/* SD card - disabled, no SD slot on AtriStation */
&sd_emmc_b {
	status = "disabled";
};

/* eMMC */
&sd_emmc_c {
	status = "okay";
	pinctrl-0 = <&emmc_ctrl_pins>, <&emmc_data_8b_pins>, <&emmc_ds_pins>;
	pinctrl-1 = <&emmc_clk_gate_pins>;
	pinctrl-names = "default", "clk-gate";
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	max-frequency = <200000000>;
	disable-wp;
	mmc-pwrseq = <&emmc_pwrseq>;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&flash_1v8>;
};

&tdmif_b {
	status = "okay";
};

&tdmout_b {
	status = "okay";
};

&toacodec {
	status = "okay";
};

&tohdmitx {
	status = "okay";
};

&uart_AO {
	status = "okay";
	pinctrl-0 = <&uart_ao_a_pins>;
	pinctrl-names = "default";
};

&usb {
	status = "okay";
	vbus-supply = <&usb_pwr_en>;
};

&usb2_phy0 {
	phy-supply = <&vcc_5v>;
};

/* I2C0 - LED ring, light sensor, EEPROM (GPIOZ pins to avoid SD card conflict) */
&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_sda_c_pins>, <&i2c0_sck_c_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;

	is31fl3236_3c: led-controller@3c {
		compatible = "issi,is31fl3236";
		reg = <0x3c>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		led@1 {
			reg = <1>;
		};
		led@2 {
			reg = <2>;
		};
		led@3 {
			reg = <3>;
		};
		led@4 {
			reg = <4>;
		};
		led@5 {
			reg = <5>;
		};
		led@6 {
			reg = <6>;
		};
		led@7 {
			reg = <7>;
		};
		led@8 {
			reg = <8>;
		};
		led@9 {
			reg = <9>;
		};
		led@10 {
			reg = <10>;
		};
		led@11 {
			reg = <11>;
		};
		led@12 {
			reg = <12>;
		};
		led@13 {
			reg = <13>;
		};
		led@14 {
			reg = <14>;
		};
		led@15 {
			reg = <15>;
		};
		led@16 {
			reg = <16>;
		};
		led@17 {
			reg = <17>;
		};
		led@18 {
			reg = <18>;
		};
		led@19 {
			reg = <19>;
		};
		led@20 {
			reg = <20>;
		};
		led@21 {
			reg = <21>;
		};
		led@22 {
			reg = <22>;
		};
		led@23 {
			reg = <23>;
		};
		led@24 {
			reg = <24>;
		};
		led@25 {
			reg = <25>;
		};
		led@26 {
			reg = <26>;
		};
		led@27 {
			reg = <27>;
		};
		led@28 {
			reg = <28>;
		};
		led@29 {
			reg = <29>;
		};
		led@30 {
			reg = <30>;
		};
		led@31 {
			reg = <31>;
		};
		led@32 {
			reg = <32>;
		};
		led@33 {
			reg = <33>;
		};
		led@34 {
			reg = <34>;
		};
		led@35 {
			reg = <35>;
		};
		led@36 {
			reg = <36>;
		};
	};

	is31fl3236_3f: led-controller@3f {
		compatible = "issi,is31fl3236";
		reg = <0x3f>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		led@1 {
			reg = <1>;
		};
		led@2 {
			reg = <2>;
		};
		led@3 {
			reg = <3>;
		};
		led@4 {
			reg = <4>;
		};
		led@5 {
			reg = <5>;
		};
		led@6 {
			reg = <6>;
		};
		led@7 {
			reg = <7>;
		};
		led@8 {
			reg = <8>;
		};
		led@9 {
			reg = <9>;
		};
		led@10 {
			reg = <10>;
		};
		led@11 {
			reg = <11>;
		};
		led@12 {
			reg = <12>;
		};
		led@13 {
			reg = <13>;
		};
		led@14 {
			reg = <14>;
		};
		led@15 {
			reg = <15>;
		};
		led@16 {
			reg = <16>;
		};
		led@17 {
			reg = <17>;
		};
		led@18 {
			reg = <18>;
		};
		led@19 {
			reg = <19>;
		};
		led@20 {
			reg = <20>;
		};
		led@21 {
			reg = <21>;
		};
		led@22 {
			reg = <22>;
		};
		led@23 {
			reg = <23>;
		};
		led@24 {
			reg = <24>;
		};
		led@25 {
			reg = <25>;
		};
		led@26 {
			reg = <26>;
		};
		led@27 {
			reg = <27>;
		};
		led@28 {
			reg = <28>;
		};
		led@29 {
			reg = <29>;
		};
		led@30 {
			reg = <30>;
		};
		led@31 {
			reg = <31>;
		};
		led@32 {
			reg = <32>;
		};
		led@33 {
			reg = <33>;
		};
		led@34 {
			reg = <34>;
		};
		led@35 {
			reg = <35>;
		};
		led@36 {
			reg = <36>;
		};
	};

	als@53 {
		compatible = "liteon,ltrf216a";
		reg = <0x53>;
		status = "okay";
	};

	eeprom@52 {
		compatible = "atmel,24c01";
		reg = <0x52>;
		status = "okay";
	};
};

/* SPI1 - Quasar LED screen */
&spicc1 {
	status = "okay";
	pinctrl-0 = <&spicc1_pins>;
	pinctrl-names = "default";
	num-cs = <1>;
	cs-gpios = <&gpio GPIOH_7 GPIO_ACTIVE_LOW>;

	led_screen: led-screen@0 {
		compatible = "quasar,led_screen";
		reg = <0>;
		spi-max-frequency = <10000000>;
		status = "okay";
	};
};

/* I2C2 - ES7210 ADC, RTC, SY6045S amps, ES8156 DAC */
&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_sda_z_pins>, <&i2c2_sck_z_pins>;
	pinctrl-names = "default";
	clock-frequency = <300000>;

	es7210: audio-adc@40 {
		compatible = "everest,es7210";
		reg = <0x40>;
		status = "okay";
	};

	rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		status = "okay";
	};

	tweeter_amp: sy6045s@2a {
		compatible = "silergy,sy6045s";
		reg = <0x2a>;
		status = "okay";
	};

	woofer_amp: sy6045s@2b {
		compatible = "silergy,sy6045s";
		reg = <0x2b>;
		status = "okay";
	};

	es8156: dac@8 {
		compatible = "everest,es8156";
		reg = <0x08>;
		status = "okay";
	};

	eeprom@50 {
		compatible = "atmel,24c01";
		reg = <0x50>;
		status = "okay";
	};

	eeprom@55 {
		compatible = "atmel,24c01";
		reg = <0x55>;
		status = "okay";
	};
};

/* I2C3 - AD82584F main amp, TAS5707 subwoofer */
&i2c3 {
	status = "okay";
	pinctrl-0 = <&i2c3_sda_a_pins>, <&i2c3_sck_a_pins>;
	pinctrl-names = "default";
	clock-frequency = <100000>;

	ad82584f: amplifier@31 {
		compatible = "adi,ad82584f";
		reg = <0x31>;
		status = "okay";
	};

	tas5707: amplifier@36 {
		compatible = "ti,tas5707";
		reg = <0x36>;
		status = "okay";
	};
};

&gpio_ao {
	amplifier_pwr {
		gpio-hog;
		gpios = <GPIOAO_11 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "amplifier-power";
	};
};

/* WiFi RTL8822CS SDIO */
&sd_emmc_a {
	status = "okay";
	pinctrl-0 = <&sdio_pins>;
	pinctrl-1 = <&sdio_clk_gate_pins>;
	pinctrl-names = "default", "clk-gate";
	#address-cells = <1>;
	#size-cells = <0>;
	bus-width = <4>;
	cap-sd-highspeed;
	sd-uhs-sdr104;
	max-frequency = <200000000>;
	non-removable;
	disable-wp;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	vmmc-supply = <&vddao_3v3>;
	vqmmc-supply = <&vddio_ao1v8>;
};

/* Bluetooth RTL8822CS-BT on UART_A */
&uart_A {
	status = "okay";
	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth: bluetooth {
		compatible = "realtek,rtl8822cs-bt";
		enable-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		host-wake-gpios = <&gpio GPIOX_19 GPIO_ACTIVE_HIGH>;
		device-wake-gpios = <&gpio GPIOX_18 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

/* PWM_E for 32.768kHz WiFi clock */
&pwm_ef {
	status = "okay";
	pinctrl-0 = <&pwm_e_pins>;
	pinctrl-names = "default";
};
